@charset "utf-8";
/* CSS Document */
.logo_text img {
    /*width:100px;*/
    width: 160px;
}

.bg_white {
    background-color: #fff;
}

.admin-form .bg_white {
    background-color: #fff;
}


.login-box img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
}

.format_material {
    top: 0px;
    border-radius: 0px;
    width: 200px;
    height: 35px;
    /* left: 30px;*/
    position: relative;
    /* z-index: 9999;*/
}

/*   #draggable {
					  cursor: move;
                    position: relative;
                   top: 0px; 
                    /* left: 30px; 
                    margin-left: -28px;*/
/* width: 190px;
					 height: 35px;
					 padding:0 5px;                  
                    background-color: #4a89dc;
					color:#fff;
					line-height:30px;
					z-index:999;
					
                 
				 
				
					
                   /* box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
                }*/

#draggable {
    top: 0px;
    left: 0;
    position: relative;
    cursor: move;
    right: 0;
    text-align: center;
    width: 150px;
    height: 35px;
    color: #fff;
    line-height: 30px;
    background-color: #4a89dc;
    display: inline-block;
    margin: 1px;
}

    #draggable i {
        float: right;
        color: #fff;
        display: none;
        line-height: 30px;
        cursor: pointer;
    }

#draggable1 {
    top: 0px;
    left: 0;
    position: relative;
    cursor: move;
    right: 0;
    text-align: center;
    width: 150px;
    height: 35px;
    color: #fff;
    line-height: 30px;
    background-color: #3bafda;
    display: inline-block;
    margin: 1px;
}


    #draggable1 i {
        float: right;
        color: #fff;
        display: none;
        line-height: 30px;
        cursor: pointer;
    }

.painted {
    background-color: #03a9f4;
    color: #fff;
}

#draggable.hollow {
    cursor: default;
    background: #ececec;
}

#draggable1.hollow {
    cursor: default;
    background: #ececec;
}

#droptarget {
    height: 400px;
    width: 400px;
    font-size: 14px;
    border-radius: 50%;
    text-align: center;
    line-height: 200px;
    margin: 0 auto;
    cursor: default;
    border: 1px solid #999;
}

.demo-section {
    height: 300px;
    position: relative;
    /*z-index:1009;*/
}

#droppable {
    width: 150px;
    height: 150px;
    padding: 0.5em;
    float: left;
    margin: 3px;
}

.multiple_location {
}

    .multiple_location > h2 {
        font-size: 18px;
        background-color: #006699;
        padding: 8px 10px;
        text-align: left;
        color: #ffffff;
    }

td > .btn-sm {
    padding: 12px 6px !important;
}

.btn-primary > .glyphicon-plus {
    font-size: 11px;
    font-weight: 400;
}

.btn-primary > .glyphicon-trash {
    font-size: 11px;
    font-weight: 400;
}

.table_heading {
    background-color: #51B2D5;
    color: #ffffff;
}


.previous_question_ans {
}

    .previous_question_ans > h2 {
        font-size: 18px;
        background-color: #006699;
        padding: 8px 10px;
        text-align: left;
        color: #ffffff;
    }


.panel-heading1 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-color: #51B2D5 !important;
    color: #ffffff;
}

    .panel-heading1 > a {
        margin: 6px 0px;
        color: #ffffff !important;
    }

.panel-group .accordion-icon:after {
    color: #ffffff !important;
}

.btn_info1 {
    padding: 4px 9px !important;
}

.column_height{
    height:51px;
}

.compaint_reg_table{
    font-size:15px;
}

.compaint_table_heading {
    background-color: #6acef3;
    color: #ffffff;
}
