@model IList<MangalWebProject.Models.OrnamentViewModel>
@using MangalWebProject.Models
<div class="modal-content">
    <div class="modal-body" style="height:inherit; overflow:auto;">
        <div class="panel-body panel-no-padding" style="height:inherit; overflow:auto;">
            <div id="demo">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-hover table-fixed-header m0" id="example">
                    <thead>
                        <tr>
                            <th>Ornament Name</th>
                            <th>Product</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (OrnamentViewModel item in Model)
                        {
                            <tr class="gradeX" onclick='window.document.location="/Ornament/GetOrnamentById?ID=@item.ID"'>
                                <td>@item.OrnamentName</td>
                                <td>@item.ProductStr</td>
                                <td>@item.StatusStr</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><!-- /.modal-content -->

